@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

/*Global*/

body, ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display {
  display: flex;
}

/*Header*/

.header_page_acceuil {
  height: 100px;
  display: flex;
}
.header_page_acceuil img {
  margin: auto;
  width: 162px;
}
@media screen and (min-width: 600px) {
  .header_page_acceuil img {
    width: 210px;
  }
}

.page {
    display: flex;
    position: fixed;
    z-index: 3;
    transform: scale(0);
    background-color: rgba(245, 245, 245, 0.5);
    animation: load-background 3s 100ms backwards;
  }
  .page .sync {
    transform: scale(0);
    font-size: 8rem;
    color: #9356DC;
    margin: auto;
    animation: load-spinner 3s 100ms linear backwards;
  }

  .lieu {
    margin-top: 20px;
    height: 50px;
    background-color: #ebebeb;
    color: #363636;
    box-shadow: inset 0 5px 4px -2px #cccccc;
  }
  .lieu i {
    margin-right: 15px;
  }
  .lieu p {
    text-align: center;
    margin-top: 0px;
    padding-top: 14px;
  }
  @media screen and (min-width: 600px) {
    .lieu {
      font-size: 1.2rem;
    }
  }

  .presentation {
    padding: 40px 25px 55px;
    background-color: whitesmoke;
    text-align: center;
  }
  .presentation h2 {
    margin-bottom: 15px;
  }
  .presentation p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.1rem;
  }
  @media screen and (min-width: 600px) {
    .presentation {
      font-size: 1.2rem;
    }
  }

  .bouton {
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    padding: 0 49px;
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: linear-gradient(170deg, #FF79DA, #a16be0);
    box-shadow: 0 3px 8px #c2c2c2;
    cursor: pointer;
  }

  .bouton a {
    color: #fff;
  }
  
  .bouton:hover {
    background: linear-gradient(170deg, #ffa2e5, #a978e3);
    box-shadow: 0 3px 8px darkgray;
  }
  @media screen and (min-width: 600px) {
    .bouton {
      transform: scale(1.1);
    }
  }
  
  .bouton-explore {
    padding: 15px 22px;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    padding: 0 px;
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: linear-gradient(170deg, #FF79DA, #a16be0);
    box-shadow: 0 3px 8px #c2c2c2;
    cursor: pointer;
    }

  @keyframes load-spinner {
    0% {
      transform: rotate(0deg);
    }
    75% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(3turn);
      opacity: 0;
    }
  }
  
  @keyframes load-background {
    0%, 100% {
      transform: scale(1);
      height: 100vh;
      width: 100vw;
    }
  }

  /*Fonctionnement étapes*/

  .operation {
    padding: 50px 20px 65px;
  }
  @media screen and (min-width: 600px) {
    .operation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .operation h2 {
      font-size: 1.9rem;
    }
    .operation h2::before, .operation h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  .operation h2 {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 600px) {
    .operation {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 45px;
    }
    .operation h2 {
      font-size: 1.9rem;
    }
    .operation h2::before, .operation h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  
  .operations_tableau {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    .operations_tableau {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .operations_tableau {
      flex-direction: row;
    }
  }
  
  .operations_tableau {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    .operations_tableau {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .operations_tableau {
      flex-direction: row;
    }
  }
  
  .etape {
    height: 72px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
  }
  .etape_nombre {
    background-color: #9356DC;
    height: 24px;
    width: 24px;
    color: #fff;
    border-radius: 1rem;
    z-index: 2;
    font-size: 0.9rem;
    display: flex;
  }
  .etape_nombre span {
    margin: auto;
  }
  .etape_texte {
    position: relative;
    left: -12px;
    background-color: whitesmoke;
    border-radius: 1.1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 3px 8px #c2c2c2;
    display: flex;
  }
  .etape_texte i {
    width: 21px;
    color: #7D7D7D;
    margin: 0 25px 0 30px;
    font-size: 1.2rem;
  }
  .etape_texte:hover {
    background-color: #f4eefc;
  }
  .etape_texte:hover i {
    color: #9356DC;
  }
  @media screen and (min-width: 600px) {
    .etape {
      width: 80%;
    }
    .etape_nombre {
      font-size: 1.1rem;
    }
    .etape_texte {
      font-size: 1.2rem;
    }
    .etape_texte i {
      font-size: 1.4rem;
    }
  }

  /*Restaurant - Index principal*/

  .restaurants {
    padding: 55px 20px 45px;
    background-color: whitesmoke;
  }
  .restaurants h2 {
    margin-bottom: 22px;
  }
  @media screen and (min-width: 600px) {
    .restaurants {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .restaurants .restaurants_tableau {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
    .restaurants h2 {
      font-size: 1.9rem;
      margin-bottom: 30px;
    }
    .restaurants h2::before, .restaurants h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  
  .restaurants_visualisation {
    box-sizing: border-box;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 18px;
    box-shadow: 0 3px 8px #c2c2c2;
  }
  .restaurants_visualisation_image {
    height: 70%;
    position: relative;
  }
  .restaurants_visualisation_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .restaurants_visualisation_image .Nouveau {
    position: absolute;
    right: 12px;
    top: 13px;
    background-color: #99E2D0;
    color: #32b091;
    padding: 6px 11px;
    border-radius: 1px;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .restaurants_visualisation_description {
    height: 30%;
    background-color: #fff;
    display: flex;
  }
  .restaurants_visualisation_description .descriptionTexte {
    flex: 1;
    padding-left: 13px;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    display: flex;
  }
  .restaurants_visualisation_description .descriptionTexte .restaurantNom {
    margin: 0;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .restaurants_visualisation_description .descriptionTexte .restaurantNom + p {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
  }
  .restaurants_visualisation_description .descriptionCoeur {
    width: 77px;
    display: flex;
  }
  .restaurants_visualisation_description .descriptionCoeur .emptyHeart {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
  }
  .restaurants_visualisation_description .descriptionCoeur .emptyHeart:hover {
    color: transparent;
  }
  .restaurants_visualisation_description .descriptionCoeur .emptyHeart:hover > .fullHeart {
    transform: scale(1);
  }
  .restaurants_visualisation_description .descriptionCoeur .fullHeart {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    transform: scale(0);
    transition: transform 150ms 50ms ease-in-out;
  }
  .restaurants_visualisation_description .descriptionCoeur .emptyHeart {
    margin: auto;
  }
  @media screen and (min-width: 600px) {
    .restaurants_visualisation {
      width: 48%;
    }
  }
  @media screen and (min-width: 1024px) {
    .restaurants_visualisation {
      height: 350px;
    }
    .restaurants_visualisation_image {
      height: 75%;
    }
    .restaurants_visualisation_description {
      height: 25%;
    }
  }

  /*Restaurants - page restaurants*/

  .main {
    background-color: #F5F5F5;
  }
  .restaurantPicture {
    height: 250px;
  }
  .restaurantPicture_la_palette_du_gout {
    background: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
  }
  .restaurantPicture_la_note_enchantee {
    background: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
  }
  .restaurantPicture_a_la_francaise {
    background: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
  }
  .restaurantPicture_le_delice_des_sens {
    background: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
  }
  
  .restaurant {
    border-radius: 2rem 2rem 0 0;
    padding: 30px 14px 40px;
    background-color: #F5F5F5;
    transform: translateY(-30px);
  }
  .restaurant h2 {
    font-family: "Shrikhand", cursive;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .restaurant h3 {
    margin: 30px 0 0 6px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .restaurant h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    background-color: #99E2D0;
    margin-top: 5px;
  }
  .restaurant_nom {
    justify-content: space-between;
    align-items: baseline;
    margin-right: 20px;
  }
  .restaurant_nom .emptyHeart {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
  }
  .restaurant_nom .emptyHeart:hover {
    color: transparent;
  }
  .restaurant_nom .emptyHeart:hover > .fullHeart {
    transform: scale(1);
  }
  .restaurant_nom .fullHeart {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    transform: scale(0);
    transition: transform 150ms 50ms ease-in-out;
  }
  .restaurant .bouton {
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  @media screen and (min-width: 1024px) {
    .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .restaurant .restaurant_nom {
      width: 100%;
    }
    .restaurant .menu {
      width: 32%;
    }
  }

  /*Menu des restaurants : plats, entrées et desserts*/

  .plats {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 14px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 3px 8px #c2c2c2;
    padding: 0;
    position: relative;
    opacity: 0;
  }
  .plats_texte {
    width: 80%;
    transform: scaleX(1);
    transform-origin: left;
    transition: width 300ms 100ms linear;
    padding: 13px 0 13px 12px;
    justify-content: space-between;
  }
  .plats_texte .plats_nom {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    white-space: nowrap;
  }
  .plats_texte p {
    margin: 0;
    font-weight: 300;
    font-size: 0.95rem;
    text-overflow: ellipsis;
  }
  .plats_prix {
    align-self: flex-end;
    color: #363636;
    font-weight: 700;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform-origin: right;
    transition: transform 300ms 100ms linear;
  }
  .plats .animation_validation {
    display: flex;
    background-color: #99E2D0;
    width: 72px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms 100ms linear;
    }
  .plats .animation_validation .animation_icone {
    color: #fff;
    font-size: 1.6rem;
    margin: auto;
    transform: rotate(0deg);
    transition: transform 300ms 100ms linear;
  }
  .plats:hover {
    cursor: pointer;
  }
  .plats:hover plats_texte {
    width: 60%;
  }
  .plats:hover plats_texte .plats_nom, plats:hover plats_texte p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .plats:hover .animation_validation {
    transform: scaleX(1);
  }
  .plats:hover .animation_icone {
    transform: rotate(360deg);
  }
  .plats:hover .plats_prix {
    transform: translateX(-72px);
  }
  @keyframes menu-load {
    0% {
      transform: translateY(20px);
    }
    75% {
      opacity: 0.5;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
  .plats:nth-of-type(1) {
    animation: menu-load 800ms 200ms forwards;
  }
  .plats:nth-of-type(2) {
    animation: menu-load 800ms 400ms forwards;
  }
  .plats:nth-of-type(3) {
    animation: menu-load 800ms 600ms forwards;
  }
  .plats:nth-of-type(4) {
    animation: menu-load 800ms 800ms forwards;
  }

  /*Footer*/

  footer {
    background-color: #363636;
    color: #fff;
    padding: 20px 25px 30px;
  }
  footer h3 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 1.1rem;
  }
  footer a {
    color: #fff;
    line-height: 1.7rem;
  }
  footer a i {
    font-size: 0.8rem;
    width: 9px;
    margin-right: 10px;
  }
  @media screen and (min-width: 600px) {
    footer h3 {
      font-size: 1.3rem;
    }
    footer a {
      font-size: 1.1rem;
    }
    footer a i {
      font-size: 1rem;
    }
  }