@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

/*Global*/

body, ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.display {
  display: flex;
}

/*Header*/

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 3;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: rgba(245, 245, 245, 0.5);
    -webkit-animation: load-background 3s 100ms backwards;
            animation: load-background 3s 100ms backwards;
  }
  .page .sync {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    font-size: 8rem;
    color: #9356DC;
    margin: auto;
    -webkit-animation: load-spinner 3s 100ms linear backwards;
            animation: load-spinner 3s 100ms linear backwards;
  }

.header_page_acceuil {
    height: 62px;
  }
  .header_page_acceuil img {
    margin: auto;
    width: 162px;
  }
  @media screen and (min-width: 600px) {
    .header_page_acceuil img {
      width: 210px;
    }
  }

  .lieu {
    height: 50px;
    background-color: #ebebeb;
    color: #363636;
    -webkit-box-shadow: inset 0 5px 4px -2px #cccccc;
            box-shadow: inset 0 5px 4px -2px #cccccc;
  }
  .lieu i {
    margin-right: 15px;
  }
  .lieu p {
    margin: auto;
  }
  @media screen and (min-width: 600px) {
    .lieu {
      font-size: 1.2rem;
    }
  }

  .presentation {
    padding: 40px 25px 55px;
    background-color: whitesmoke;
    text-align: center;
  }
  .presentation h2 {
    margin-bottom: 15px;
  }
  .presentation p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.1rem;
  }
  @media screen and (min-width: 600px) {
    .presentation {
      font-size: 1.2rem;
    }
  }
  
  .bouton-explore {
    padding: 15px 22px;
    }


  
  @-webkit-keyframes load-spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    75% {
      opacity: 0.75;
    }
    100% {
      -webkit-transform: rotate(3turn);
              transform: rotate(3turn);
      opacity: 0;
    }
  }
  
  @keyframes load-spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    75% {
      opacity: 0.75;
    }
    100% {
      -webkit-transform: rotate(3turn);
              transform: rotate(3turn);
      opacity: 0;
    }
  }
  @-webkit-keyframes load-background {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      height: 100vh;
      width: 100vw;
    }
  }
  @keyframes load-background {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      height: 100vh;
      width: 100vw;
    }
  }

  /*Fonctionnement étapes*/

  .operation {
    padding: 50px 20px 65px;
  }
  @media screen and (min-width: 600px) {
    .operation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .operation h2 {
      font-size: 1.9rem;
    }
    .operation h2::before, .operation h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  .operation h2 {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 600px) {
    .operation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 45px;
    }
    .operation h2 {
      font-size: 1.9rem;
    }
    .operation h2::before, .operation h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  
  .operations_tableau {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    .operations_tableau {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .operations_tableau {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  
  .operations_tableau {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    .operations_tableau {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .operations_tableau {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  
  .etape {
    height: 72px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .etape_nombre {
    background-color: #9356DC;
    height: 24px;
    width: 24px;
    color: #fff;
    border-radius: 1rem;
    z-index: 2;
    font-size: 0.9rem;
  }
  .etape_nombre span {
    margin: auto;
  }
  .etape_texte {
    position: relative;
    left: -12px;
    background-color: whitesmoke;
    border-radius: 1.1rem;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0 3px 8px #c2c2c2;
            box-shadow: 0 3px 8px #c2c2c2;
  }
  .etape_texte i {
    width: 21px;
    color: #7D7D7D;
    margin: 0 25px 0 30px;
    font-size: 1.2rem;
  }
  .etape_texte:hover {
    background-color: #f4eefc;
  }
  .etape_texte:hover i {
    color: #9356DC;
  }
  @media screen and (min-width: 600px) {
    .etape {
      width: 80%;
    }
    .etape_nombre {
      font-size: 1.1rem;
    }
    .etape_texte {
      font-size: 1.2rem;
    }
    .etape_texte i {
      font-size: 1.4rem;
    }
  }

  /*Restaurant*/

  .restaurants {
    padding: 55px 20px 45px;
    background-color: whitesmoke;
  }
  .restaurants h2 {
    margin-bottom: 22px;
  }
  @media screen and (min-width: 600px) {
    .restaurants {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .restaurants .restaurants_tableau {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
    }
    .restaurants h2 {
      font-size: 1.9rem;
      margin-bottom: 30px;
    }
    .restaurants h2::before, .restaurants h2::after {
      content: "";
      display: inline-block;
      background-color: #9356DC;
      height: 2px;
      width: 75px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  
  .restaurants_visualisation {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 18px;
    -webkit-box-shadow: 0 3px 8px #c2c2c2;
            box-shadow: 0 3px 8px #c2c2c2;
  }
  .restaurants_visualisation_image {
    height: 70%;
    position: relative;
  }
  .restaurants_visualisation_image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants_visualisation_image .new {
    position: absolute;
    right: 12px;
    top: 13px;
    background-color: #99E2D0;
    color: #32b091;
    padding: 6px 11px;
    border-radius: 1px;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .restaurants_visualisation__description {
    height: 30%;
    background-color: #fff;
  }
  .restaurants_visualisation__description .descriptionText {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1rem;
  }
  .restaurants_visualisation__description .descriptionText .restaurantName {
    margin: 0;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .restaurants_visualisation__description .descriptionText .restaurantName + p {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
  }
  .restaurants_visualisation__description .descriptionHeart {
    width: 77px;
  }
  .restaurants_visualisation__description .descriptionHeart .emptyHeart {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: color 150ms 50ms ease;
    -o-transition: color 150ms 50ms ease;
    transition: color 150ms 50ms ease;
  }
  .restaurants_visualisation__description .descriptionHeart .emptyHeart:hover {
    color: transparent;
  }
  .restaurants_visualisation__description .descriptionHeart .emptyHeart:hover > .fullHeart {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .restaurants_visualisation__description .descriptionHeart .fullHeart {
    position: absolute;
    top: 0;
    left: 0;
    background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
    transition: -webkit-transform 150ms 50ms ease-in-out;
    -o-transition: transform 150ms 50ms ease-in-out;
    transition: transform 150ms 50ms ease-in-out;
    transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
  }
  .restaurants_visualisation__description .descriptionHeart .emptyHeart {
    margin: auto;
  }
  @media screen and (min-width: 600px) {
    .restaurants_visualisation {
      width: 48%;
    }
  }
  @media screen and (min-width: 1024px) {
    .restaurants_visualisation {
      height: 350px;
    }
    .restaurants_visualisation_image {
      height: 75%;
    }
    .restaurants_visualisation__description {
      height: 25%;
    }
  }